*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}
body{
    min-height: 100vh;
    background: linear-gradient(-135deg,rgb(39,28,243),#ec2f12);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 2em;
    padding: 4em 3em;
    border-radius: 2em;
    color: white;
    background-color: rgba(255,255,255,0.20);    
}
.title{
    font-size: 3em;

}
hr{
    width: 100%;
    background-color: white;
    height: 3px;
    border-radius: 1em;
    border: none;
}
.button-wrapper{
    display: flex;
    gap: 1em;
}
button{
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding:  0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out ;
}
button:hover{
    transform: translateY(-10px);
}
#stop{
    background-color: #ec2f12;
}
#reset{
    background-color: rgb(24,137,242);
}
#start{
    background-color: rgb(86,230,14);
}

.timer{
    font-size: 120px;
    font-weight: 600;

}