html,body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 20px;
    
}

.row input{
    height: 40px;
    width: 270px;
    padding: 2px 38px;
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid black;
}
input:focus{
    box-shadow: inset 0 0 5px 0 gray;
}

/*  */
/* .row{
    overflow: hidden;
    position: relative;
}

.button::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 8rem;
    background: linear-gradient(0deg, transparent,transparent,#2370f5,#2370f5,#2370f5);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
}
.button::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 8rem;
    background: linear-gradient(0deg,transparent,transparent,#b91fdc,#b91fdc,#b91fdc);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
    animation-delay: 3s ;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.button{
    text-align: center;
    overflow: hidden;
    padding-top: 1.5rem;
  
    width: 95%;
    height: 95%;
    border-radius: 1rem;
 
    z-index: 2;
} */