.text-center{
    text-align: center;
}
.bg-red{
    /* background-color: red; */
    

    
}
.mx-auto{
    margin: auto;
}
.m-w-20{
    /* max-width: 20vw; */
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.item-center{
    align-items: center;
}
.row{
    margin: 8px 10px;
    position: relative;
    
}
.row button{
    margin: 0 8px;
    font-size: 30px;
    
}
.button{

    border-radius: 9px;
    /* border: none; */
    cursor: pointer;
    height: 80px;
    width: 80px;
    position: relative;
}

.button:active{

    background-color: rgb(129, 207, 212);
    box-shadow: 0 0 5px gray;
    /* border: 5px solid rgb(223, 89, 89); */
}
.button:focus{
    background-color: rgb(190, 182, 182);
}

body{
    background-color: navy;
    color: white;
}


/*  */
.container{
    display: inline-block;
    border: 5px groove cyan;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 25px cyan;
    background-color: rgb(219, 211, 200);
        justify-content: center;
        margin-left: 35%;
}