#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    color: black;
    font-family: Helvetica;
    
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 2rem;
    margin: 2px;
    /* margin-left: 35px; */
    color: white;
    background-color: rgb(64, 177, 177);
    border-radius: 5px;    
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(34, 77, 77);
}


.label{

    /* background-color:rgb(107, 122, 70); */
    height: 15em;
    width: 25em;
    /* margin-top: 0px; */
    margin-left: 500px ;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 2px rgb(0, 136, 199) solid;
    border-right:2px rgb(0, 136, 199) solid;
    border-radius: 30px;
    margin-bottom: 20px;
}

#btnContainer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.body{
    background: linear-gradient(to bottom,rgb(226, 226, 226) ,rgb(99, 99, 124))
}

.counter{
    font-size: 30px;
    position: relative;
    display: flex   ;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}